@import "styles/common";
@import "normalize.css";

body {
    font-size: $baseFontSize;
    line-height: 1.5;
    font-family: "Roboto";
    color: $baseColor;
    background-color: $backColor;

}

a {
    cursor: pointer;
    color: $linkColor;

    &:hover {
        text-decoration: underline;
    }

}

.proto-page {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}